.navbar {
  background-color: black !important;
  padding-bottom: 5px;

  h5 {
    letter-spacing: .08em;
    color: white;
    font-size: 1em;
  }

  figure {
    margin-top: 5px;
    max-width: 80px;
  }

  h1, h6 {
    letter-spacing: .05em;
    color: white;
  }

  .navbar-burger {
    margin-top: 10px;
  }
  .navbar-burger.is-active {
    color: lightblue;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    figure {
      max-width: 60px;
      float: left;
    }
    h5 {
      font-size: 1.8em;
    }
    .router-link {
      font-size: 18px;
      color: #0af;
    }
  }
}

