@charset "utf-8";

// bulma breakpoints
$gap: 32px;
$tablet:	568px;
$desktop:	768px + (2 * $gap);
$widescreen:	1152px + (2 * $gap);
$fullhd:	1344px + (2 * $gap);

@import './global-styles.scss';
@import 'bulma';
