.skills {
  p {
    margin-bottom: 5px;
    text-indent: 20px;
  }
  .skills-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    .control {
      padding: 5px;
      border-radius: 5px;
      width: 100%;
    }
  }
}
@media screen and (min-width: 321px) {
  .skills {
    .skills-controls {
      flex-direction: row;
      .control {
        width: 50%;
      }
    }
  }
}
