footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #666;

  a {
    color: #41addd;

    &:hover {
      color: #6cc0e5;
    }
  }
}
