.skill-item {
  .skill-icon {
    margin-right: 10px !important;
  }
  .notification {
    padding: 0.75rem;
  }
  h2 {
    margin-bottom: 5px !important;
  }
  hr {
    margin: 0.5rem;
  }
  .is-blue {
    background: rgb(18,117,171);
    background: linear-gradient(90deg, rgba(18,117,171,1) 0%, rgba(18,33,159,1) 78%);
  }
  .is-green {
    background: rgb(18,171,98);
    background: linear-gradient(90deg, rgba(18,171,98,1) 0%, rgba(13,131,52,1) 78%);
  }
  .is-red {
    background: rgb(171,18,31);
    background: linear-gradient(90deg, rgba(171,18,31,1) 0%, rgba(159,18,50,1) 78%);
  }
  .is-yellow {
    background: rgb(170,171,18);
    background: linear-gradient(90deg, rgba(170,171,18,1) 0%, rgba(127,135,14,1) 78%);
  }
}
